<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="GraveyardManagement.Properties.Settings.NecropolisConnectionString" connectionString="Data Source=Vlad;Initial Catalog=Necropolis;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NecropolisEntities1" connectionString="metadata=res://*/Model.EntityFramework.NecropolisEntities.csdl|res://*/Model.EntityFramework.NecropolisEntities.ssdl|res://*/Model.EntityFramework.NecropolisEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Vlad;initial catalog=Necropolis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NecropolisEntities" connectionString="metadata=res://*/Model.EntityFramework.NecropolisEntities.csdl|res://*/Model.EntityFramework.NecropolisEntities.ssdl|res://*/Model.EntityFramework.NecropolisEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLad;initial catalog=Necropolis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>